.settings-screen {
}

.settings-block {
  padding: 3rem;
}

.settings-input-field {
  max-width: 25rem;
}

.authentication-code-block {
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid #e3edf3;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #f7f7f7;
  border-radius: 3px;
}
